h1 = answer_header(@answer)

p = @answer.question.body

= render 'form', model: [:admin, @answer]

=> link_to t('links.show'), admin_answer_path(@answer)
'|
=< link_to t('links.back'), admin_question_path(@answer.question)
